<form action="/answer" method="get" data-turbo="false" class="mt-3">
  <div class="input-group">
    <input type="text" name="question" class="form-control" placeholder="Ask your question...">
    <button type="submit" class="btn btn-primary">Ask!</button>
  </div>
</form>
